@charset "UTF-8";
@font-face {
    font-family: lemon_cake;
    src: url("../fonts/lemon_cake/LemonCake.otf"); }
@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon/icomoon.ttf"); }
/*********** Links ********** */
.enlace {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 100px;
    border-bottom: 1px dotted;
}
.links a:link {
    color: #FF7878; }
.links a:hover {
    color: #FEF0F0;
    font-weight: bold; }

/*************** HEADER ************** */
.header {
    height: 110px;
    background-color: #ffdba4;
    border-bottom: 4px solid #ffa721; }

.buscar {
    margin-top: 30px; }

/*************** MENU ************** */
.nav {
    margin-top: 13%; }
.nav > ul > li {
    float: left; }
.nav > ul > li a {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-align: center;
    background-color: white;
    width: 100px;
    text-decoration: none;
    color: black; }
.nav > ul > li > ul {
    display: none; }
.nav > ul > li > ul > li {
    position: relative; }
.nav > ul > li > ul > li > ul {
    left: 100px;
    top: 0;
    display: none; }
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.logo img {
    width: 70%;
    height: 70%; }

.log img {
    margin-top: 45%;
    width: 70%; }

.carrito img {
    margin-top: 45%;
    width: 65%; }

.section {
    background: #ecd9ba; }

ul, ol {
    list-style: none; }

/*
.content-foto {
float: left;
}
*/
.tabla{
    width: auto;
    margin: 25px;
}
.tabla img{
    width: 200px;
    height: 200px;
}

.tabla td{
    border: 1px solid #ffa721;
/*
    border-collapse: separate;
    border-spacing: 10px 5px;
*/
}

.favoritos {
    text-align: center;
    margin: 20px;
}

.tabla td img{
    margin: 10px;
}

#etiquetas input {
    border-radius: 10px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
}

.tabla div {
    width: 200px;
    height: 16px;
    margin-bottom: 20px;
}
.tabla div .fav{
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.tabla div .like{
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
}

.x {
    width: 16px;
    height: 16px;
}
.x img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/*************** FOOTER ************** */
.footer {
    background-color: #333333;
    width: 100%;
    height: 125px; }
.footer .RRSS, .footer .links {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    width: 100%; }

/*************** PAG LOGIN ************** */
.login a {
    color: grey;
    font-size: 1.5em;
    text-decoration: none; }
.login a:hover {
    color: #FF7878;
    text-decoration: underline; }

.signup {
    color: grey; }

/* User y Pass */
.login {
    text-align: center;
    margin: 50px auto;
    width: 300px;
    margin-top: 155px; }
.login input {
    border: none;
    font-family: "Verdana"; }
.login form input {
    height: 30px;
    color: #606468;
    border: 1px solid;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px; }

#boton-login {
    padding: 5px 16px;
    width: 198px;
    height: 30px;
    text-align: center;
    background-color: #ffa721;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    width: 95%; }

#boton-login:hover{
    cursor: pointer;
    background-color: #ffce81;
}

.botonLogout {
    height: 30px;
    color: #606468;
    padding: 0 16px;
    width: 198px; }

/*************** ERROR 404 ************** */
.error {
    font-family: "Verdana";
    font-size: 30px;
    color: grey;
    text-align: center;
    background-color: #FEF0F0;
    height: 100%;
    width: 100%; }
.error h1 {
    margin-left: 5%;
    text-align: left; }
.error h2 {
    margin-right: 5%;
    text-align: right; }

.volver {
    margin-left: 93%; }

/*# sourceMappingURL=style.css.map */
